# Loading required packages

In [69]:
import pandas as pd

#required for reading .xml files
import xml.etree.ElementTree as ET

#required for navigating machine's directory
import glob
import os.path

#required for communicating with SQL database

#we dont need to do this, dont even really need boto, we can just get the data locally and then perform ETL, put it in that weird filetype, and make sure it's loadable
from sqlalchemy import create_engine

In [70]:

# the postgresql address for SQL base coonection
conn_string = 'postgresql://admin:de300SPRING2024@dd300spring2024.549787090008.us-east-2.redshift-serverless.amazonaws.com:5439/dev'

### Utility function for writing data into the SQL database

In [71]:
def insert_to_table(data: pd.DataFrame, table_name:str):
    db = create_engine(conn_string)
    conn = db.connect()
    data.to_sql(table_name, conn, if_exists="replace", index=False)
    conn.close()

# Step one : Extract data from ./data/ folder

In [72]:
all_files = glob.glob('./data/*')

# Output the list of files
for file in all_files:
    print(file)

./data\used_car_prices1.csv
./data\used_car_prices1.json
./data\used_car_prices1.xml
./data\used_car_prices2.csv
./data\used_car_prices2.json
./data\used_car_prices2.xml
./data\used_car_prices3.csv
./data\used_car_prices3.json
./data\used_car_prices3.xml

### Function to extract data from one .csv file

In [73]:
def extract_from_csv(file_to_process: str) -> pd.DataFrame:
    
    # add you line here to read the .csv file and return dataframe
    csv_data = pd.read_csv(file_to_process)
    return csv_data

### Function to extract data from one .json file

In [74]:
def extract_from_json(file_to_process: str) -> pd.DataFrame:
    
    # add you line here to read the .json file and return dataframe
    json_data = pd.read_json(file_to_process, lines = True)
    return json_data

### Function to extract data from one  .xml file

In [75]:
def extract_from_xml(file_to_process: str) -> pd.DataFrame:
    dataframe = pd.DataFrame(columns = columns)
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        car_model = person.find("car_model").text
        year_of_manufacture = int(person.find("year_of_manufacture").text)
        price = float(person.find("price").text)
        fuel = person.find("fuel").text
        sample = pd.DataFrame({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, index = [0])
        dataframe = pd.concat([dataframe, sample], ignore_index=True)
    return dataframe

### Function to extract data from the ./data/ folder

In [76]:
def extract() -> pd.DataFrame:
    extracted_data = pd.DataFrame(columns = columns)
    #for csv files
    for csv_file in glob.glob(os.path.join(folder, "*.csv")):
        extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
    
    # For JSON files
    for json_file in glob.glob(os.path.join(folder, "*.json")):
        extracted_data = pd.concat([extracted_data, extract_from_json(json_file)], ignore_index=True)
    
    # For XML files
    for xml_file in glob.glob(os.path.join(folder, "*.xml")):
        extracted_data = pd.concat([extracted_data, extract_from_xml(xml_file)], ignore_index=True)
    
    
    return extracted_data

### Extract the data

In [77]:
columns = ['car_model','year_of_manufacture','price', 'fuel']
folder = "data"
#table_name = "car_data"

# run
def main():
    data = extract()
    #insert_to_table(data, "car_data")
    
    return data

data = main()

C:\Users\great\AppData\Local\Temp\ipykernel_6272\2571882362.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
C:\Users\great\AppData\Local\Temp\ipykernel_6272\2138107605.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
C:\Users\great\AppData\Local\Temp\ipykernel_6272\2138107605.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
C:\Users\great\AppData\Local\Temp\ipykernel_6272\2138107605.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)

In [78]:
data.head()

  car_model year_of_manufacture         price    fuel
0      ritz                2014   5000.000000  Petrol
1       sx4                2013   7089.552239  Diesel
2      ciaz                2017  10820.895522  Petrol
3   wagon r                2011   4253.731343  Petrol
4     swift                2014   6865.671642  Diesel

# Step Two: Transformation of the data

In [79]:
staging_file = "cars.parquet"
staging_data_dir = "staging_data"

def transform(df):
    #db = create_engine(conn_string)

    #df = pd.read_sql_query(f'SELECT * FROM {table_name}', con=db)

    print(f"Shape of data {df.shape}")

    # truncate price with 2 decimal place
    if hasattr(df, 'price'):
        df['price'] = df['price'].round(2)

    # remove samples with same car_model 
    if hasattr(df, 'car_model'):
        df.drop_duplicates(subset=['car_model'], keep='first', inplace=True)
    
    print(f"Shape of data {df.shape}")

    # write to parquet
    df.to_parquet(os.path.join(staging_data_dir, staging_file))

transform(data)

Shape of data (90, 4)
Shape of data (25, 4)

In [80]:
#print the head of your data
print(data.head())

  car_model year_of_manufacture     price    fuel
0      ritz                2014   5000.00  Petrol
1       sx4                2013   7089.55  Diesel
2      ciaz                2017  10820.90  Petrol
3   wagon r                2011   4253.73  Petrol
4     swift                2014   6865.67  Diesel



# Step Three : Loading data for further modeling

In [81]:
# read from the .parquet file

def load() -> pd.DataFrame:
    data = pd.DataFrame()
    for parquet_file in glob.glob(os.path.join(staging_data_dir, "*.parquet")):
        data = pd.concat([pd.read_parquet(parquet_file),data])

    #insert_to_table(data, table_name)

    return data

data = load()
print(data.shape)

(25, 4)

In [82]:
print(data.head())

  car_model  year_of_manufacture     price    fuel
0      ritz                 2014   5000.00  Petrol
1       sx4                 2013   7089.55  Diesel
2      ciaz                 2017  10820.90  Petrol
3   wagon r                 2011   4253.73  Petrol
4     swift                 2014   6865.67  Diesel